
/* logo style */
.header img {
  float: left;
  width: 60px;
  height: 60px;
  background: #555;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

  #my-div {
    
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}


.button {
    background-color: blue;
    color: white;
  
  left: 50%;
  top: 50%;
  margin-top: -15px;   /* = -height / 2   */
  margin-left: -100px; /* = -width / 2    */
  position: fixed;     /* Fixed is better */
    padding: 25px 25px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
   
.p{
display: table-cell;
      height: 400px;
      width: 800px;
      background: red;
    text-align: center;
    vertical-align: middle;
    }


}

.button:hover {
    background:black ;
}

.border {
    width: 200px;
    padding: 40px;    
    border: 15px solid blue;
left: 50%;
  top: 50%;
  margin-top: -15px;   /* = -height / 2   */
  margin-left: -100px; /* = -width / 2    */
  position: fixed;     /* Fixed is better */
vertical-align:middle;
}

.videoContainer 
{
    position:absolute;
    height:100%;
    width:100%;
    overflow: hidden;
}

.videoContainer video 
{
    min-width: 100%;
    min-height: 100%;
}

.btn-bot{
    position: absolute;
    bottom: 0;

}

progress {
	color:#fff;
	font-size:12px;
	width:172px;
	height:16px;
	border:none;
	margin-right:5px;
	background:#434343;
}
